.pointer{
    cursor: pointer;
}
.fs-12{
    font-size: 12px;
}
.space-40{
    margin-bottom: 40px;
}
.space-80{
    margin-bottom: 80px;
}
.color-btn{
    color: var(--btn-color) !important;
}
.text-align-justify{
    text-align: justify;
}

/* Header */
header{
    display: flex; 
    height: 72px;
    align-items: center;
    background-color: var(--bg-color);
    position: sticky;
    top: 0;
    z-index: 1;
}
.nav{
    margin-left: 50px;
}
.link{
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
}
.link.active{
    color: var(--btn-color);
}
.buyer{
    margin-left: auto;
    font-weight: 500;
}

/* Main */
.intro{
    background: url('http://demo.tutsflow.com/foodera/images/bg/3.jpg') no-repeat center;
    background-size: cover;
    padding: 100px 0 150px;
    position: relative;
}
.intro h3{
    font-size: 48px;
}
.btn-order{
    min-width: 140px;
    height: 40px;
    border-radius: 20px;
    background: var(--btn-color);
    color: #fff;
    margin-right: 20px;
}
.btn-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}

.services{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.service{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.service i{
    font-size: 26px;
}
.service span{
    font-size: 12px;
}

section .title{
    text-align: center;
    margin-bottom: 40px;
}
.ration .content{
    display: flex;
    justify-content: center;
    gap: 24px;
}
.tabs{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.tab-item{
    padding: 8px;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    font-weight: 500;
}
.tab-item.active{
    background: var(--btn-color);
    color: #fff;
}
.card-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.feedback{
    background: url('http://demo.tutsflow.com/foodera/images/parallax/1.jpg') no-repeat center;
    background-size: cover;
    background-position: center center;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__feedback{
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 30px 0 30px 50px;
    border-radius: 5px;
    height: 280px;
    position: relative;

}
.feedback-title{
    width: 60%;
}
.feedback-img{
    position: absolute;
    right: 0;
    top: 0;
}
.feedback-img img{
    width: 310px;
    height: 280px;
    border-radius: 5px;
}
.card__news{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 40px;
}
.news-img img{
    height: 200px;
}


.slick-slider{
    width: 80%;
    margin: auto;
}
.slick-prev{
    top: unset;
    transform: unset;
    bottom: 40px;
    left: 50px;
    z-index: 10;
}
.slick-next{
    top: unset;
    transform: unset;
    bottom: 40px;
    left: 80px;
    z-index: 10;
}
.slick-next::before,.slick-prev::before{
    font-size: 28px;
    color: var(--btn-color);
}


footer{
    background: url('http://demo.tutsflow.com/foodera/images/parallax/1.jpg') no-repeat center;
    background-size: cover;
    padding-top: 80px;
}