:root {
	--bg-color: #fff;
	--text-color: #252a4b;
	--sub-color: #696c80;
	--btn-color: #c2004e;
	--color-success: #198754;
	--color-warning: #dc3545;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

html {
	font-family: 'Helvetica 35 Thin', sans-serif;
}

html,
body {
	width: 100%;
	height: 100vh;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
